---
import { getCollection } from "astro:content";
import BlogCard from "components/BlogCard.tsx";
import Layout from "layouts/Layout.astro";

const articleList = await getCollection("posts");
---

<Layout
  title="My Blogs"
  desc="Just some random thoughts or notes something I learned."
>
  <main class="mt-8">
    <section class="space-y-4">
      <h1>Blogs</h1>
      <div class="space-y-0.5">
        <p>
          Just some random thoughts. For me, writting can sharpen my
          understanding of something.
        </p>
        <p>
          You can read my old articles
          <a href="https://v3.yehezgun.com" target="_blank" class="underline"
            >here</a
          >.
        </p>
      </div>
    </section>
    <section class="mt-8">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {
          articleList.map(article => (
            <BlogCard
              title={article.data.title}
              slug={article.slug}
              publishDate={article.data.publishDate}
              heroImage={article.data.heroImage.src}
            />
          ))
        }
      </div>
    </section>
  </main>
</Layout>
