---
import Layout from "layouts/Layout.astro";
import "global.css";
---

<Layout title="Welcome to Astro.">
  <main class="mt-8">
    <h1 class="text-primary-200">Blog</h1>
    <h2>Test</h2>
    <h3>Test</h3>
    <h4>Test</h4>
    <h5>Test</h5>
    <p>Test P</p>
    <a href="/">Test</a>
  </main>
</Layout>
