---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Yehezkiel Gunawan's Site">
  <main class="mt-8">
    <div class="flex items-center justify-between">
      <div class="space-y-4">
        <h1>
          Hi, I'm <span
            class="bg-gradient-to-r from-primary-200 to-primary-500 dark:from-primary-600 dark:to-primary-400 p-0.5 rounded text-2xl md:text-4xl font-bold hover:p-2"
            >Yehezkiel Gunawan</span
          >
        </h1>
        <p>
          Welcome to my personal slice of the internet. <br />Take a look and
          enjoy.
        </p>
        <div class="flex items-center gap-4">
          <a href="/blog" class="btn-link">Read My Blog</a>
          <a href="/aboutme" class="btn-link">About Me</a>
        </div>
      </div>
      <img
        src="/yehez-avatar-transparent.svg"
        alt="my-avatar"
        width="240"
        height="240"
        loading="lazy"
        class="hidden md:block dark:bg-gray-700 bg-gray-200 rounded-full"
      />
    </div>
  </main>
</Layout>
