---
import Layout from "../layouts/Layout.astro";
import ThemeToggle from "components/ThemeToggle";
import "../global.css";
---

<Layout title="Welcome to Astro.">
  <main>
    <ThemeToggle client:only />
    <h1>Testss</h1>
    <h2>Test</h2>
    <h3>Test</h3>
    <h4>Test</h4>
  </main>
</Layout>
