---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="title" content="My Resume" />
    <meta name="description" content="Here is my latest resume." />
    <meta name="author" content="Yehezkiel Gunawan" />
    <meta name="viewport" content="width=device-width" />

    <link
      rel="icon"
      type="image/svg+xml"
      href="/yehez-avatar-transparent.svg"
    />
    <meta name="generator" content={Astro.generator} />
    <title>My Resume</title>
  </head>
  <body>
    <iframe
      src="https://drive.google.com/file/d/1AdUoO5ElrgrrYLgPPR-kPQWBIyUqQZcg/preview"
      class="h-screen w-full"></iframe>
  </body>
</html>
