---
import ThemeToggle from "./ThemeToggle";

const menuList = [
  {
    name: "Home",
    url: "/",
  },
  {
    name: "Projects",
    url: "/projects",
  },
  {
    name: "Blog",
    url: "/blog",
  },
  {
    name: "About Me",
    url: "/aboutme",
  },
];

const currentURL = Astro.url.pathname;
---

<nav class="flex items-center justify-between border-b">
  <div class="flex items-center gap-4">
    {currentURL}
    {
      menuList.map(item => (
        <a
          href={item.url}
          class={`font-bold ${currentURL === item.url ? "underline decoration-dashed underline-offset-4" : ""}`}
        >
          {item.name}
        </a>
      ))
    }
  </div>
  <ThemeToggle client:load />
</nav>
