---
import ThemeToggle from "./ThemeToggle";

const menuList = [
  {
    name: "Home",
    url: "/",
  },
  {
    name: "Projects",
    url: "/projects",
  },
  {
    name: "Blog",
    url: "/blog",
  },
  {
    name: "About Me",
    url: "/aboutme",
  },
];
---

<nav class="flex items-center justify-between border-b">
  <div class="flex items-center gap-4">
    {
      menuList.map(item => (
        <a href={item.url} class="font-bold">
          {item.name}
        </a>
      ))
    }
  </div>
  <ThemeToggle client:load />
</nav>
